<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.web3study.mapper.NftMapper">
  <resultMap id="BaseResultMap" type="com.example.web3study.pojo.Nft">
    <!--@mbg.generated-->
    <!--@Table nft-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="author_id" jdbcType="INTEGER" property="authorId" />
    <result column="blockchain_log_id" jdbcType="INTEGER" property="blockchainLogId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="mint_number" jdbcType="INTEGER" property="mintNumber" />
    <result column="symbol" jdbcType="VARCHAR" property="symbol" />
    <result column="current_number" jdbcType="INTEGER" property="currentNumber" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="ipfs_hash" jdbcType="VARCHAR" property="ipfsHash" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <association property="blockchainLog" javaType="com.example.web3study.pojo.BlockchainLog" column="blockchain_log_id" jdbcType="INTEGER" select="com.example.web3study.mapper.BlockchainLogMapper.selectByPrimaryKey"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, author_id, blockchain_log_id, `name`, `type`, mint_number, symbol, current_number, 
    description, ipfs_hash, image, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from nft
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from nft
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.web3study.pojo.Nft" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into nft (author_id, blockchain_log_id, `name`, 
      `type`, mint_number, symbol, 
      current_number, description, ipfs_hash, 
      image, create_time)
    values (#{authorId,jdbcType=INTEGER}, #{blockchainLogId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{mintNumber,jdbcType=INTEGER}, #{symbol,jdbcType=VARCHAR}, 
      #{currentNumber,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{ipfsHash,jdbcType=VARCHAR}, 
      #{image,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.web3study.pojo.Nft" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into nft
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="authorId != null">
        author_id,
      </if>
      <if test="blockchainLogId != null">
        blockchain_log_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="mintNumber != null">
        mint_number,
      </if>
      <if test="symbol != null">
        symbol,
      </if>
      <if test="currentNumber != null">
        current_number,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="ipfsHash != null">
        ipfs_hash,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="authorId != null">
        #{authorId,jdbcType=INTEGER},
      </if>
      <if test="blockchainLogId != null">
        #{blockchainLogId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="mintNumber != null">
        #{mintNumber,jdbcType=INTEGER},
      </if>
      <if test="symbol != null">
        #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="currentNumber != null">
        #{currentNumber,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="ipfsHash != null">
        #{ipfsHash,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.web3study.pojo.Nft">
    <!--@mbg.generated-->
    update nft
    <set>
      <if test="authorId != null">
        author_id = #{authorId,jdbcType=INTEGER},
      </if>
      <if test="blockchainLogId != null">
        blockchain_log_id = #{blockchainLogId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="mintNumber != null">
        mint_number = #{mintNumber,jdbcType=INTEGER},
      </if>
      <if test="symbol != null">
        symbol = #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="currentNumber != null">
        current_number = #{currentNumber,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="ipfsHash != null">
        ipfs_hash = #{ipfsHash,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.web3study.pojo.Nft">
    <!--@mbg.generated-->
    update nft
    set author_id = #{authorId,jdbcType=INTEGER},
      blockchain_log_id = #{blockchainLogId,jdbcType=INTEGER},
      `name` = #{name,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=INTEGER},
      mint_number = #{mintNumber,jdbcType=INTEGER},
      symbol = #{symbol,jdbcType=VARCHAR},
      current_number = #{currentNumber,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      ipfs_hash = #{ipfsHash,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2023-01-20-->

<!--auto generated by MybatisCodeHelper on 2023-01-20-->
  <select id="selectAllByNameAndSymbol" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from nft
    <where>
      <if test="name != null">
        and `name`=#{name,jdbcType=VARCHAR}
      </if>
      <if test="symbol != null">
        and symbol=#{symbol,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

<!--auto generated by MybatisCodeHelper on 2023-01-20-->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from nft
  </select>

<!--auto generated by MybatisCodeHelper on 2023-01-20-->
  <select id="selectAllByNameOrSymbol" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from nft
    where `name`=#{name,jdbcType=VARCHAR} or symbol=#{symbol,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2023-01-20-->
  <select id="selectAllByNameOrSymbolLike" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from nft
    where `name`=#{name,jdbcType=VARCHAR} or symbol like concat('%',#{likeSymbol,jdbcType=VARCHAR},'%')
  </select>

<!--auto generated by MybatisCodeHelper on 2023-01-20-->
  <select id="selectAllByNameLikeOrSymbolLike" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from nft
    <where>
      <if test="likeName != null">
        and `name` like concat('%',#{likeName,jdbcType=VARCHAR},'%')
      </if>
      <if test="likeSymbol != null">
        or symbol like concat('%',#{likeSymbol,jdbcType=VARCHAR},'%')
      </if>
    </where>
  </select>

<!--auto generated by MybatisCodeHelper on 2023-01-21-->
  <update id="updateCurrentNumberByBlockchainLogId">
    update nft
    set current_number=#{updatedCurrentNumber,jdbcType=INTEGER}
    where blockchain_log_id=#{blockchainLogId,jdbcType=INTEGER}
  </update>

  <!--auto generated by MybatisCodeHelper on 2023-01-20-->
</mapper>